.toggle-list-parent-permissions {
}

.div1-toggle-list-parent-permissions {
}
.div2-toggle-list-parent-permissions {
}

.header-permissions {
}

.label-permissions {
}

.breakLine-permissions {
}

.input-permissions {
}

.searchInput-permissions {
}

.button-wrapper {
}

.button {
}

.radio-permissions {
}

.description-permissions {
}

.table-permissions {
}

.checkBox-permissions {
}

.smallLogo-permissions {
}
.largeLogo-permissions {
}

.bellIcon-permissions {
}

.deleteItemIcon-permissions {
}

.refreshIcon-permissions {
}

.copyItemIcon-permissions {
}

.addItemIcon-permissions {
}

.editItemIcon-permissions {
}
.statusIcon-permissions {
}

.specialLinkIcon-permissions {
}

.profileIcon-permissions {
}

/* .toggle-list-parent-permissions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-toggle-list-parent-permissions {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-toggle-list-parent-permissions {
  grid-area: 1 / 3 / 2 / 4;
} */
