.header-flowConfiguration {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.label-flowConfiguration {
  margin-left: 9px;
}

.dropdown-flowConfiguration {
}

.toggle-list-parent-flowConfiguration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-toggle-list-parent-flowConfiguration {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-toggle-list-parent-flowConfiguration {
  grid-area: 1 / 3 / 2 / 4;
}

.button-wrapper-flowConfiguration {
  margin-top: 15px;
  margin-bottom: 15px;
}

.breakLine-flowConfiguration {
  margin-left: 10px;
  margin-right: 22px;
  opacity: 0.2;
}

.container1-flowConfiguration {
  border: 2px solid #1c6ea410;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #94b3fd15;
}

.button-flowConfiguration {
  border: 2px solid;
  background-color: #94b3fd15;
  border-radius: 10px;
}

.button-flowConfiguration:hover {
  border: 2px solid #94b3fd20;
  background-color: #94b3fd20;
}

.input-flowConfiguration {
}

.searchInput-flowConfiguration {
}

.radio-flowConfiguration {
}

.description-flowConfiguration {
}

.table-flowConfiguration {
}

.checkBox-flowConfiguration {
}

.smallLogo-flowConfiguration {
}
.largeLogo-flowConfiguration {
}

.bellIcon-flowConfiguration {
}

.deleteItemIcon-flowConfiguration {
}

.refreshIcon-flowConfiguration {
}

.copyItemIcon-flowConfiguration {
}

.addItemIcon-flowConfiguration {
}

.editItemIcon-flowConfiguration {
}
.statusIcon-flowConfiguration {
}

.specialLinkIcon-flowConfiguration {
}

.profileIcon-flowConfiguration {
}
