.div2-toggle-list-parent-notificationPage-exception-here {
  grid-area: 1 / 3 / 2 / 4;
  padding-top: 8px;
}
.div2-toggle-list-parent-notificationPage-exception-here-two {
  grid-area: 1 / 3 / 2 / 4;
  padding-right: 20px;
}

.expandableAccordionTest-buildForm {
  background-color: red;
}
